body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightsteelblue;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.logo-img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

